.chosen {
	background-color: yellow;
}

.menu-flex {
	display: flex;
}

.main-sub {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.option-list {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.confirm-button {
	flex: 1;
	justify-content: center;
	align-items: center;
}

.vote-button {

}

.option-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hidden {
	display: none;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}